.card{
    background-color: rgba(251,159,110,0.6);
    width: 30%;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.card .select .select_chain{
    margin: 15px;;
}
.card .card-header{
    margin: 10px;
}