.container{
    background-color:rgba(255, 255, 255,0.5);
    width:60%;
    height: 80%;
    border:1px solid rgb(0, 0, 0);
    position: absolute;
    left:20%;top:10%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);/*外层阴影*/

}
.container .container-inner{
    position: absolute;
    top: 20%;
    left: 34%;

}
.container.container-inner.email{
    height: 40px;
    width: 300px;
}
.container.container-inner.password{
    height: 40px;
    width: 300px;

}
.container .container-inner .container-email{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    position:relative;
}
.container .container-inner .container-password{
    height: 50px;
    position:relative;
}
.container.container-inner.container-captcha{
    height: 50px;
    position:relative;
}
.container .container-inner .container-button{
    height: 50px;
    position: relative;
}
