.container .container-inner .container-captcha .input{
    width: 230px;
    float: left;
}

.container .container-inner .container-captcha .button{
    width: 80px;;
    height: 31.6px;
}

.container .container-inner .container-captcha .div-captcha{
    width: 80px;
    float: right;
}

.container .container-inner .login-button{
    clear: both;
    margin-top: 50px;
    margin-bottom: 10px;
}

