.App {
  text-align: center;
}

.bottom-bar{
  position: fixed;
  bottom: 0;
  left: 20%;
  width: 60%;
  background-color: #f5f5f5;
  height: 50px;
  padding-top: 20px;
  text-align: center;
}

.bottom-bar .link{
  font-weight: bold;
}

.bottom-bar .link .icon{
  text-decoration: none;
  margin: 10%;
  color: #333;
}

.bottom-bar .link .icon:hover{
  color: #000;
}

.bottom-bar .link .icon:active{
  color: #000;
}

.bottom-bar .link .icon:visited{
  color: #333;
}

.bottom-bar .link .icon:link{
  color: #333;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
