.App {
  text-align: center;
  background-image: url("background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.bottom-bar{
  position: fixed;
  bottom: 0;
  left: 20%;
  width: 60%;
  background-color:rgb(63,88,250);
  height: 50px;
  padding: 0;
  text-align: center;

}

.addemail.link{
  font-size: 16px;
  font-weight: bold;
}

.bottom-bar .link .btn-image{
  width: 32px; 
  height: 32px; 
  vertical-align: middle; /* 确保图片在链接中垂直居中 */ 
}
.start{
  width: 50%;
  height: 50%;
  position:absolute;
  top: 20%;
  left: 25%;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between; /* 增加上下间距 */
}
.start .welcome{
  font-size: 30px;
  color:rgb(255, 255, 255);

}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
